* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(255,228,225,0.4);
}

h1 {
    font-size: 3rem;
    text-align: center;
    display: inline;
    color: #fff;
}

header {
    margin: auto;
}



.header-container {
    background-color: #364756;
    height: 150px;
    margin: 0 0 50px 0;
    display: ;
}

.content-container {
    display: flex;
    justify-content: center;
}

.content {
    width: 900px;
    padding: 40px;
    background-color: #E3DAC9;
    margin-bottom: 30px;
    border: 2px solid #000;
    display: flex;
    justify-content: space-between;
}

.recipes-container {
    text-align: center;
}

.img-recipes {
    height: 250px;
    width: 300px;
    display: block;
    margin: 0 auto 20px;
}

.yo-img {
    height: auto;
    width: 300px;
    margin: 50% auto;
}

.yo-img-container {
    height: 100%;
}

.yo-img-container,
.recipes-container {
    min-width: 360px;
}

.first-recipe,
.second-recipe {
    margin-bottom: 30px;
}