@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    background-color: rgba(130, 130, 130, 0.4);
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.6rem;
    text-align: center;
    display: inline;
    color: #fff;
}

.header-container {
    background-color: #364756;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(130, 130, 130, 0.3);
    box-shadow: 0 0 15px #364756;
}

.content-container {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.content {
    width: 900px;
    padding: 40px;
    background-color: rgba(255,228,225,0.5);
    border: 2px solid #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px 0;
}

.recipes {
    text-align: center;
}

.img-recipes {
    height: 250px;
    width: 300px;
    display: block;
    margin: 0 auto 20px;
    border-radius: 10px;
}

.yo-img {
    height: auto;
    width: 300px;
    margin: 0 auto;
}

.recipes,
.yo-img-container {
    width: 350px;
}

.yo-img-container {
    text-align: right;
}

a:visited {
    color: #000;
}

@media (max-width: 900px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
}